:root {
  --primary-color: #1c1d1e;
  --secondary-color: #a39885;
  --title-font: "DM Serif Display", serif;
  --main-font: "Poppins", sans-serif;
}
body {
  line-height: 2.5;
}

h1 {
  font-family: var(--title-font);
  font-size: 48px;
}

h2 {
  font-family: var(--title-font);
  font-size: 25px;
  font-weight: 200;
}

p {
  font-family: var(--main-font);
}

.homepage-paragraph {
  margin: 20px 30px;
  padding: 50px;
  text-align: center;
}
.hero-section {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 150px 20px;
}

.hero-section p {
  font-size: 36px;
  font-weight: bold;
}
.hero-section h1 {
  font-size: 85px;
  color: white;
}
.hero-section h2 {
  font-size: 50px;
}

.experience-section {
  background-color: var(--primary-color);
  padding: 50px;
}

.experience-section h2 {
  color: white;
  font-size: 35px;
}
.experience-section p {
  color: white;
}
.button-one {
  background: var(--primary-color);
  border-color: var(--primary-color);
  border-style: solid;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
  transition: all 200ms ease-in-out;
}
.button-one:hover {
  color: var(--primary-color);
  background-color: white;
}
