body {
  line-height: 2;
}
h1 {
  font-family: "DM Serif Display", serif;
  font-size: 48px;
}
h2 {
  font-family: "DM Serif Display", serif;
  font-size: 25px;
  font-weight: 200;
}

p {
  font-family: "Poppins", sans-serif;
}

.homepage-paragraph {
  margin: 20px 30px;
  padding: 50px;
  text-align: center;
}
.hero-section {
  background-color: #a39885;
  text-align: center;
  padding: 150px 20px;
}

.hero-section p {
  font-size: 36px;
  font-weight: bold;
}
.hero-section h1 {
  font-size: 85px;
  color: white;
}
.hero-section h2 {
  font-size: 50px;
}

.experience-section {
  background-color: #212529;
  padding: 50px;
}

.experience-section h2 {
  color: white;
  font-size: 35px;
}
.experience-section p {
  color: white;
}
.button-one {
  background: #212529;
  border: none;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 18px;
}
